<div class="span12 pagination-centered col-10">
    <h2 class="text-center">Emploees - xsolve trainee task</h2>
    <table class="nowrap container center-block" width="75%" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 15%" (click)="setSort('id')">Id.
                    <span class="glyphicon" 
                        style="float:right" 
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-id','glyphicon-triangle-top':currentSortAttribute === 'id'}"></span>
                </th>
                <th style="width: 10%" (click)="setSort('firstName')">First Name
                    <span class="glyphicon" 
                        style="float:right" 
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-firstName','glyphicon-triangle-top':currentSortAttribute === 'firstName'}"></span>
                </th>
                <th style="width: 10%" (click)="setSort('lastName')">Last Name
                    <span class="glyphicon" 
                        style="float:right" 
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-lastName','glyphicon-triangle-top':currentSortAttribute === 'lastName'}"></span>
                </th>
                <th style="width: 30%" (click)="setSort('sortableDate')">Date of Birth
                    <span class="glyphicon"
                        style="float:right"  
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-sortableDate','glyphicon-triangle-top':currentSortAttribute === 'sortableDate'}"></span>
                </th>
                <th style="width: 10%" (click)="setSort('company')">Company
                    <span class="glyphicon"
                        style="float:right" 
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-company','glyphicon-triangle-top':currentSortAttribute === 'company'}"></span>
                </th>
                <th style="width: 20%" (click)="setSort('note')">Note
                    <span class="glyphicon"
                        style="float:right" 
                        [ngClass]="{'glyphicon-triangle-bottom':currentSortAttribute === '-note','glyphicon-triangle-top':currentSortAttribute === 'note'}"></span>
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <input class="col-xs-6 text-center" 
                    id="idFilterMinInput" 
                    placeholder="from">
                <input class="col-xs-6 text-center " 
                    id="idFilterMaxInput" 
                    placeholder="to">
            </td>
            <td>
                <input class="col-xs-12 text-center" 
                    id="firstNameFilterInput">
            </td>
            <td>
                <input class="col-xs-12 text-center" 
                    id="lastNameFilterInput">
            </td>
            <td>
                <input class="col-xs-6 text-center" 
                    id="dateFilterMinInput" 
                    [owlDateTimeTrigger]="dateF" 
                    [owlDateTime]="dateF" 
                    [(ngModel)]="selectedMoments"
                    [selectMode]="'rangeFrom'" 
                    placeholder="from">
                <owl-date-time #dateF></owl-date-time>
                <input class="col-xs-6 text-center" 
                    id="dateFilterMaxInput" 
                    [owlDateTimeTrigger]="dateT" 
                    [owlDateTime]="dateT" 
                    [(ngModel)]="selectedMoments"
                    [selectMode]="'rangeTo'" 
                    placeholder="to">
                <owl-date-time #dateT></owl-date-time>
            </td>
            <td>
                <input class="col-xs-12 text-center" 
                    id="companyFilterInput">
            </td>
            <td>
                <input class=" col-xs-4 text-center" 
                    id="noteFilterMinInput" 
                    placeholder="from">
                <input class="col-xs-4 text-center" 
                    id="noteFilterMaxInput" 
                    placeholder="to">
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-sm" 
                        (click)="this.readInputs(); displayedWorkers = filterService(workers); setPage(1);">Search</button>
                </div>
            </td>

        </tr>
        <tr *ngFor="let item of page">
            <td>{{ item.id }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.dateOfBirth }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.note }}</td>
        </tr>
        <tr *ngIf="displayedWorkers != null && displayedWorkers.length == 0">
            <td class="text-danger">There are no results that match your search!</td>
        </tr>
    </table>
    <div class="container">
        <tr *ngIf="pagination.pages && pagination.pages.length" class="pagination">
            <th *ngFor="let page of pagination.pages" 
                [ngClass]="{active:pagination.currentPage === page}" 
                style="cursor: pointer" 
                (click)="setPage(page);">
                <a style="cursor: pointer">{{page}}</a>
            </th>
        </tr>
    </div>

</div>